# Exercises on Interacting with Databases Using Pandas

In this series of exercises, we will explore how to interact with SQL and RDF databases using Pandas. We will work with a dataset that includes information about wines from the top 10 wine-producing countries.

## Dataset Description

The dataset we will use has been obtained from a project based on Vivino's wine data. It includes information on wines from the top 10 wine-producing countries, various wine styles, and country ISO codes, which are useful for data analysis and mapping. This comprehensive dataset can be found on Kaggle: [Vivino Wine Data](https://www.kaggle.com/datasets/joshuakalobbowles/vivino-wine-data-top-10-countries-exchina/data).

### SQLite Table Structure

Our SQL-based data is stored in an SQLite database with the following columns:

- **Winery**: The name of the winery
- **Year**: The year the wine was produced
- **Wine_ID**: A unique identifier for the wine
- **Wine**: The name of the wine
- **Rating**: The average rating of the wine on Vivino
- **Reviews**: The number of reviews the wine has received
- **Price**: The price of the wine
- **Region**: The wine's region
- **Primary_Grape**: The primary grape used in the wine
- **Natural**: Whether the wine is natural or not
- **Country**: The country the wine is from
- **Style**: The style of the wine (e.g., Red, White, Ros√©)
- **Country_Code**: The ISO code of the country

### RDF Data Model

The RDF triples are structured as follows, using the SCHEMA namespace (`http://schema.org/`):

- **Type**: Each wine is defined as a `schema:Product`.
- **Properties**: Including `isProductOf`, `productionDate`, `productID`, `name`, `ratingValue`, `reviewCount`, `price`, `isFromRegion`, `material`, `isNatural`, `category`, and `countryCode`.

## Exercises

### Exercise 1: Basic SQL Queries

1. **List of Unique Wines**:
   Write an SQL query to select all distinct wine names from the dataset.

2. **Average Rating of Wines**:
   Create an SQL query to calculate the average rating of all wines.

   **SQL Concepts to Use:**

   - **`AVG()` Function:** This function calculates the average value of a specified numeric column. In this case, you'll use it to find the average rating of wines.
  
   Example: `SELECT AVG(column_name) FROM table_name;`

3. **Count of Wines by Country**:
   Use SQL to find out how many wines each country has in the dataset. Order the results by the count in descending order.

   **SQL Concepts to Use:**

   - **`COUNT()` Function:** This function returns the number of rows that match a specified criterion. Here, you'll count the number of wines in each country.
  
   Example: `SELECT COUNT(column_name) FROM table_name;`

   - **`GROUP BY` Clause:** This clause groups rows that have the same values into summary rows.
  
   Example: `SELECT column_name, COUNT(column_name) FROM table_name GROUP BY column_name;`

   - **`DESC` Keyword:** Used in `ORDER BY` clause to sort the results in descending order.
  
   Example: `ORDER BY COUNT(column_name) DESC;`

### Exercise 2: Basic SPARQL Queries

1. **List Wine Styles**:
   Write a SPARQL query to select all unique wine styles available in the dataset.

2. **Find Natural Wines**:
   Use SPARQL to list all wines that are marked as natural. Include the wine name and country.

3. **Average Price of Wines**:
   Create a SPARQL query to calculate the average price of wines across all countries.

   **SPARQL Concepts to Use:**

   - **`AVG()` Function:** This function computes the average of a set of numeric values. In SPARQL, you can use it within a SELECT query to calculate the average value of a particular property across all entities that match the query's criteria.

### Exercise 3: Intermediate Queries

1. **Top 5 Rated Wines in SQL Database**:
   Write an SQL query to find the top 5 highest-rated wines, including ties, and their prices.

   **SQL Concepts to Use:**

   - **`LIMIT` Clause:** The LIMIT clause is used in SQL queries to specify the maximum number of records to return. This is particularly useful when you only want a subset of records from a larger set, such as the top N records based on a certain condition.

   Example: `SELECT Column FROM table_name LIMIT 5;`
   
2. **Wines with Ratings Above Average in RDF Store**:
   In this exercise, you will use SPARQL to identify wines in an RDF store that have a rating above the dataset's average. This involves combining subqueries for calculating the average rating with a filtering mechanism to select only those wines that meet the criterion.

   Query Structure

   Your task is to write a SPARQL query that performs the following steps:

   1. **Calculate the Average Rating**: Use a subquery to compute the average rating of all wines in the dataset. In SPARQL, subqueries allow you to perform nested queries. This means you can calculate aggregated values such as averages within a separate query block, and then use the results in the outer query.

   2. **Select Wines Above Average**: After calculating the average rating, the next step is to select wines that have a rating above this average. This is where the `FILTER` function comes into play. You can use it to compare each wine's rating against the average rating obtained from the subquery.

   3. **Return Results**: Finally, the query should return the names and ratings of the wines that satisfy the condition of having a rating above the average.

   Hint: Using Subqueries and FILTER

   - **Subqueries**: In SPARQL, subqueries are enclosed within curly braces {} and can be used to calculate aggregated values such as the average. These subqueries are executed first, and their results can be utilized in the outer query.

   EXAMPLE:
   ```sparql
      PREFIX ex: <http://example.org/>

      SELECT ?title WHERE {
         {
            SELECT (AVG(?year) AS ?avgYear) WHERE {
               ?book ex:publicationYear ?year .
            }
         }
         ?book ex:title ?title ;
               ex:publicationYear ?year .
         FILTER(?year > ?avgYear)
      }
   ```

   - **FILTER**: The `FILTER` function is used to restrict the results returned by the query based on a specified condition. In this case, you'll use FILTER to include only those wines whose rating exceeds the average rating calculated in the subquery.

   EXAMPLE:
   ```sparql
      PREFIX ex: <http://example.org/>
      PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

      SELECT ?event ?startDate WHERE {
         ?event ex:startDate ?startDate .
         FILTER(?startDate > NOW())
      }
   ```

### Exercise 4: Combining Data from SQLite and RDF Triplestore

In this exercise, you'll practice combining data from two different sources: an SQLite database and an RDF triplestore. The goal is to merge wine data from these sources into a single, coherent dataset using Pandas.

Your task is to:

1. Query both databases to retrieve data related to wines. From the SQLite database, select winery, year, wine name, and rating. From the RDF triplestore, select similar information but be aware of the differences in property names and data structure.
2. Combine the results into a single Pandas DataFrame. Ensure that the columns match and are appropriately named for a unified view. If necessary, rename columns to achieve consistency.
3. Clean the combined dataset by removing duplicates. Use an appropriate attribute such as the wine name or a combination of the winery and year to identify duplicates.
4. Sort the final dataset by the year of production, from the oldest to the newest wines.

Hints for Combining Data:

- **Concatenating DataFrames**: Use the `pd.concat()` function from Pandas to merge the two datasets. Ensure that the columns in both DataFrames are named consistently before concatenating.

- **Renaming Columns**: If the column names in your DataFrames do not match, use the `.rename()` method in Pandas to standardize them before concatenation.

- **Removing Duplicates**: After combining the datasets, use the `.drop_duplicates()` method to remove duplicate entries. Decide on the columns to consider for identifying duplicates.

- **Sorting Data**: Use the `.sort_values()` method to sort the DataFrame based on the year of production.